:root {
    --white: #ffffff;
    --white2: #efefef;
    --black: #18181b;
    --green: #BEFD73;
    --font1: "Raleway", sans-serif;
    --font2: "Karla", sans-serif;
}

/* ---------GENERAL ATR------------------------------------------------------------------------------------ */

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #18181b;
}

/* ---------HEADLINE------------------------------------------------------------------------------------ */

.container {
    margin: auto;
    padding: 0rem;
    height: 800px;
    max-height: fit-content;
    background-image: url('Images/dumbell_blackandwhite.jpg');
    background-size: cover;
    background-position: center 10%;
    background-repeat: no-repeat;
}

/* img {
    max-height: 66px;
    width: auto;
}

a {
    text-decoration: none;
}

nav {
    height: 20%;
    margin: auto;
    padding: min(3rem, 3%) min(6rem, 3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.nav-logo {
    max-width: 500px;
    display: flex;
    gap: 1vw;
}

.nav-logo p {
    align-self: center;
    color: var(--white);
    font-family: var(--font2);
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-family: var(--font2);
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 80%;
}

.btn {
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    font-family: var(--font2);
    font-weight: 500;
    color: #18181b;
    border-radius: 6px;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--black);
    background-color: var(--green);
    box-shadow: 0 0 5px #c8ff84, 0 0 25px #d0ff96;
} */

nav img {
    max-height: 4rem;
    width: auto;
}

nav .logo {
    margin-right: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: 700;
}

nav {
    height: 25%;
    padding: min(3rem, 3%) min(6rem, 5%);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: var(--font2);
    gap: 1.5rem;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: 300;
    transition: all 0.2s ease;
}

nav .a-anim:hover{
    transform: scale(1.2);
    color: var(--green);
}

#open-sidebar{
    display: none;
    color: var(--white);
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar{
    display: none;
    color: var(--white);
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay{
    background: rgb(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/* ---------MAIN INFO------------------------------------------------------------------------------------ */

.main-info {
    height: 75%;
    max-height: max-content;
    padding: min(2.5rem, 5%) min(2.5rem, 3%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--white);
    font-family: var(--font1);
    font-size: clamp(2.5rem, calc(2.5vw + 0.75rem), 5.5rem);
    line-height: 1.5;
}

.info {
    width: 62.5%;
    padding: min(4rem, 3%) 0;
    text-align: center;
    color: var(--white);
    font-size: clamp(0.9rem, calc(1.25vw + 0.5rem), 1.7rem);
    line-height: 2;
}

.main-info button {
    padding: 1rem 2rem;
    font-size: clamp(0.85rem, 2vw, 1.33rem);
    font-family: var(--font2);
    font-weight: 600;
    color: var(--black);
    border-radius: 6px;
    background-color: var(--green);
    cursor: pointer;
    transition: all 0.2s ease;
}

.main-info button:hover {
    opacity: .9;
    /* background-color: #a6fd3b; */
}

/* ---------ABOUT------------------------------------------------------------------------------------ */

.about-container {
    height: 1200px;
    max-height: fit-content;
    background-color: var(--white);
}

.about {
    height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: min(6rem, 5%) min(9rem, 5%);
}

.about-us {
    padding: 1rem;
    font-family: var(--font2);
    text-align: center;
    color: grey;
    font-size: clamp(0.85rem, 1vw, 1.75rem);
    font-weight: 500;
}

.about-title {
    margin: 10px 0;
    padding: min(1.75rem, 2%);
    text-align: center;
    font-family: var(--font1);
    font-size: clamp(3rem, calc(2.75vw + 1rem), 5rem);
    line-height: 1.2;
}

.about-info {
    margin-bottom: min(1.5rem, 1%);
    padding: min(2rem, 3%);
    width: 66%;
    text-align: center;
    font-size: clamp(1.2rem, calc(1.1vw + 0.5rem), 1.75rem);
}

.about-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: min(2rem, 3%);
    width: 90%;
}

.dl-group {
    display: flex;
    flex-direction: column;
    padding: min(1rem, 1%);
}

.dl-group dt {
    font-weight: 700;
    margin-bottom: min(1.5rem, 5%);
    font-size: clamp(1.5rem, calc(1.7vw + 1rem), 2.25rem);
    font-family: var(--font2);
}

.dl-group dd {
    font-size: clamp(1rem, calc(1.25vw + 0.5rem), 1.5rem);
    font-weight: 300;
    line-height: 1.5;
}

/* ---------FEATURED------------------------------------------------------------------------------------ */

.featured-container {
    height: 300px;
    max-height: fit-content;
}

.featured {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.featured p {
    padding-bottom: 1rem;
    font-family: var(--font2);
    text-align: center;
    color: grey;
    font-size: clamp(0.9rem, 1vw, 1.75rem);
    font-weight: 500;
}

.brand-banner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 1rem 0;
}

.brand-container {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.brand-item {
    display: inline-block;
    vertical-align: middle;
}

.brand-item img {
    display: inline-block;
    align-self: center;
    margin: 0 40px;
    height: 60px;
    width: auto;
    max-width: 180px;
}

/* .brand-banner:hover .brand-container {
  animation-play-state: paused;
} */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* ---------PRICES------------------------------------------------------------------------------------ */

.prices-container {
    height: 1200px;
    max-height: fit-content;
    background-color: var(--white);
}

.prices {
    height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: min(4rem, 3%) min(9rem, 3%);
}

.simple-pricing {
    padding: 1rem;
    font-family: var(--font2);
    text-align: center;
    color: grey;
    font-size: clamp(0.85rem, 1vw, 1.75rem);
    font-weight: 500;
}

.prices h1 {
    padding: min(1.75rem, 2%);
    text-align: center;
    font-family: var(--font1);
    font-size: clamp(3rem, calc(2.5vw + 1rem), 5rem);
    line-height: 1.2;
}

.prices-info {
    margin-bottom: min(1.5rem, 1%);
    padding: min(2rem, 3%);
    width: 66%;
    text-align: center;
    font-size: clamp(1.2rem, calc(1.1vw + 0.5rem), 1.75rem);
}

.prices-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: min(2rem, 1%);
    width: 90%;
}

.cards {
    padding: min(1.5rem, 5%);
    border: 1px solid;
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: auto;
    transition: all 0.2s ease;
}

.cards:hover {
    transform: scale(1.02);
}

.cards h4 {
    font-weight: 700;
    margin-bottom: min(1.5rem, 2%);
    font-size: clamp(1rem, calc(1.2vw + 0.5rem), 2.25rem);
    font-family: var(--font2);
}

.cards p {
    font-size: clamp(1rem, calc(0.75vw + 0.25rem), 1.3rem);
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: min(rem, 5%);
}

.cards .number {
    font-size: clamp(0.5rem, calc(1.25vw + 1rem), 3rem);
    font-weight: bold;
    margin: min(1rem, 2.5%) 0;
}

.cards span {
    font-size: clamp(0.5rem, calc(0.75vw + 0.25rem), 1.3rem);
    font-weight: 600;
}

.cards button {
    width: 100%;
    justify-self: center;
    padding: min(1rem, 5%) 0;
    font-size: clamp(1rem, 1.25vw, 2rem);
    font-family: var(--font2);
    font-weight: 500;
    color: var(--white);
    border-radius: 6px;
    background-color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease;
}

.cards button:hover {
    color: #18181b;
    background-color: var(--green);
}

/* ---------COMMENTS------------------------------------------------------------------------------------ */

.comments-container {
    height: 500px;
    max-height: fit-content;
    background-color: var(--green);
}

.comments {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    padding: min(9rem, 5%);
}

.comments .left {
    height: 100%;
    max-height: max-content;
    font-family: var(--font2);
    font-size: clamp(0.9rem, calc(1.1vw + 0.2rem), 1.3rem);
    font-weight: 700;
    margin-top: 3%;
}

.comments .right {
    max-height: max-content;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.comments .right .comments-info {
    font-size: clamp(1rem, 1.2vw + 0.75rem, 2rem);
    font-weight: 500;
    line-height: 2.75rem;
}

.comments .right .user {
    display: flex;
    gap: 2vw;
}

.comments .right .user .pfp {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 100%;
}

.comments .right .user .user-name {
    justify-content: center;
    align-content: center;
    font-family: var(--font2);
    font-size: clamp(0.9rem, 1.1vw + 0.4rem, 1.4rem);
    font-weight: 800;
    line-height: 1.75rem;
}

.comments .right span {
    font-weight: 400;
}

/* ---------GALLERY------------------------------------------------------------------------------------ */

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white2);
    height: 1000px;
}

.gallery {
    padding: 0rem 9rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.gallery .left {
    text-align: center;
}

.gallery h1 {
    font-family: var(--font1);
    font-size: 5rem;
}

/* ---------FOOTER------------------------------------------------------------------------------------ */

footer {
    height: 800px;
    max-height: fit-content;
}

.footer-container {
    padding: min(9rem, 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.credits {
    height: auto;
    color: var(--white2);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 60%;
}

.credits h4 {
    font-family: var(--font2);
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    margin-bottom: min(1rem, 1%);
}

.credits p {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
    line-height: 1.5;
}

.socials {
    max-height: max-content;
    color: var(--white2);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 30%;
}

.socials h4 {
    font-family: var(--font2);
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    margin-bottom: min(1rem, 1%);
}

.socials p {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
    line-height: 1.5;
    padding-bottom: 1.5vw;
}

.icons {
    display: flex;
    column-gap: 2rem;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    color: var(--white2);
    border-radius: 50%;
    outline: 2px solid var(--white2);
    transition-property: outline-offset, outline-color, background-color, text-shadow;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}

.icon--tiktok:hover {
    color: var(--black);
    background-color: var(--white2);
}

.icon--facebook:hover {
    background-color: #1877F2;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

/* ---------MEDIA Qs------------------------------------------------------------------------------------ */

@media screen and (max-width: 1200px) {

    .about-list {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .prices-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 2vw;
    }

    .comments {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        justify-content: center;
        padding: min(9rem, 5%);
    }

    .comments .right .user {
        justify-content: center;
        padding: 1.5vw 0 0 0;
    }

    .footer-container {
        padding: min(9rem, 5%);
    }
}

@media screen and (max-width: 900px) {

    #open-sidebar, #close-sidebar{
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: min(16em, 100%);
        z-index: 10;
        /* border-left: 1px solid whitesmoke; */
        background-color: var(--black);
        transition: right 300ms ease-out;
    }

    nav.show{
        right: 0;
    }

    nav.show ~ #overlay{
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        gap: 2.5rem;
    }

    nav .logo {
        margin-right: unset;
    }

    nav .logo p {
        display: none;
    }

    nav a {
        width: 100%;
    }

    .main-info p {
        width: 100%;
    }

    .about-info,
    .about-list {
        width: 100%;
    }

    .about-list {
        text-align: start;
    }

    .prices-info {
        width: 100%;
    }

    .prices-cards {
        padding: min(1.5rem, 1%);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 2vw;
    }

    .comments .right .comments-info {
        line-height: 2.25rem;
    }

    .comments .right .user {
        gap: 3vw;
    }

    footer {
        width: 100%;
    }

    .footer-container {
        max-width: max-content;
        padding: min(9rem, 6%);
        display: flexbox;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        gap: 3vw;
    }

    .footer-container .credits,
    .footer-container .socials {
        width: auto;
        gap: 2vw;
    }

    .footer-container h4,
    .footer-sub {
        margin: 0;
        text-align: center;
    }

    .footer-container .icons {
        justify-content: center;
    }
}

/* @media screen and (max-width: 700px){

    #open-sidebar, #close-sidebar{
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid whitesmoke;
        background-color: var(--black);
        transition: right 300ms ease-out;
    }

    nav.show{
        right: 0;
    }

    nav.show ~ #overlay{
        display: block;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav .logo {
        margin-right: unset;
    }

    nav .logo p {
        display: none;
    }

    nav a {
        width: 100%;
    }

} */

@media (width < 600px) {

    .footer-container .credits,
    .footer-container .socials {
        width: auto;
        gap: 3vw;
    }

    .cards p {
        font-size: clamp(0.8rem, calc(0.75vw + 0.25rem), 1.3rem);
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: min(rem, 5%);
    }
}